@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Jost", sans-serif;
  background-color: #ece5ce;
  padding: 201px 20px 0;
}

img {
  margin-top: 10px;
  margin-left: 30px;
}

.header {
  background-color: #e08e79;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 50px;
  font-weight: bold;
  padding: 0 30px;
  line-height: 80px;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 20px;
  margin: 0 30px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover {
  background-color: #84c3c8;
  transition: 0.5s;
}
