<div class="body">
  <header class="header">
    <nav class="nav">
      <img src="../../../../assets/Imagenes/diseño/Dulce Vida.png" />
      <ul class="nav-menu">
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link">INICIO</a>
        </li>
        <li class="nav-menu-item">
          <a routerLink="/iniciarsesion" class="nav-menu-link nav-link"
            >INGRESAR</a
          >
        </li>
        <li class="nav-menu-item">
          <a routerLink="/crearcuenta" class="nav-menu-link nav-link">
            REGISTRAR</a
          >
        </li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link">CARRITO</a>
        </li>
      </ul>
    </nav>
  </header>
</div>
