<!-- servicios ordenar-->
<body>
  <div class="segundaParte">
    <div class="tarjeta-pasteles">
      <img
        src="../../../../assets/Imagenes/diseño/pastel_chocolate.png"
        class="imagenPast1"
      />
      <div class="titulo">
        <b> Pasteles</b>
      </div>
      <div class="descripcion">
        <b>
          Nuestro stock de panadería incluye repostería francesa, chocolate
          gourmet, panes y pasteles caseros y nuestras famosas mezclas de
          espresso. Nuestra panadería es un esfuerzo colectivo del equipo.
        </b>
      </div>
      <a href="">Ordenar</a>
    </div>

    <div class="tarjeta-mostacho">
      <img
        src="../../../../assets/Imagenes/diseño/pastel_chocolate.png"
        class="imagenPastDos"
      />
      <div class="titulo">
        <b>Mostacho </b>
      </div>
      <div class="descripcion">
        <b>
          Con un sistema simple, podemos obtener los mejores ingredientes,
          procesados de forma natural y de alta calidad, y producir nuestros
          propios productos deliciosos sin desperdicios.
        </b>
      </div>
      <a href="">Ordenar</a>
    </div>

    <div class="tarjeta-pays">
      <img
        src="../../../../assets/Imagenes/diseño/pastel_chocolate.png"
        class="imagenPastTres"
      />
      <div class="titulo">
        <b>Pays</b>
      </div>
      <div class="descripcion">
        <b>
          Nuestra panadería es el lugar donde compras y aprovechas al máximo tu
          día bajo el sol. Creemos en brindar algo especial a cada uno de
          nuestros clientes que los deje sintiéndose renovados, vibrantes y
          llenos de alegría.
        </b>
      </div>
      <a href="">Ordenar</a>
    </div>
  </div>
</body>
