<router-outlet></router-outlet>
<app-barra></app-barra>
<body>
  <!-- tarjeta uno de la descripcion-->
  <div class="cuerpo-tarjeta">
    <div class="titulo">
      <b class="reposteria">Reposteria </b>
      <b class="dulce-vida"> Dulce Vida</b>
    </div>
    <div class="descripcion">
      <b>
        No somos tu panadería ordinaria. Tenemos una forma única y deliciosa de
        preparar y entregar golosinas recién horneadas a su hogar, oficina o
        negocio de una manera muy especial. Es un concepto de comodidad.
        Nuestras tartas, pasteles y horneados se elaboran por encargo para
        garantizar los resultados más frescos posibles con un producto
        excepcional y una alta calidad de sabor. En Lushweg, lo invitamos a
        venir y experimentar la esencia de uno de los mejores lugares para
        desayunar en Tepic, Nayarit, México.
      </b>
    </div>
    <a href="">Ver Postres</a>
  </div>
  <!-- foto del pastel-->
  <div class="cuerpo-foto">
    <div class="foto-pastel">
      <img src="../../../../assets/Imagenes/pastelPortada.png" />
    </div>
  </div>
</body>
<app-servicios-venta></app-servicios-venta>
<app-informacion></app-informacion>
