<!-- servicios ordenar-->
<body>
  <div class="informacion">
    <div class="contenedor1">
      <img
        src="../../../../assets/Imagenes/diseño/logo2.png"
        class="imagenLogo"
      />
      <div class="descripcion">
        <div class="direccion">
          <b>Dirección</b> <br />
          Avenida Tecnológico #234
        </div>
        <div class="horario">
          <br />
          <b>Horarios</b>
          <br />
          Lunes a viernes 10:00- 20:00
          <br />Sábado 9:00 -14:00
        </div>
      </div>
    </div>
  </div>

  <div class="contenedor2">
    <table class="tablainfo">
      <div class="textotabla">
        <th>
          <b> Contacto </b> <br />
          Teléfono: 311 322 4598 <br />
          correo: contacto@dulcevida.com
        </th>
        <th>
          <b>Síguenos </b> <br />
          Facebook <br />
          Instagram
        </th>
        <th>
          Preguntas frecuentes <br />
          Políticas del sitio <br />
          Términos y condiciones
        </th>
      </div>
    </table>
  </div>

  <div class="contenedor3">
    @Todos los derechos reservados. Repostería Dulce Vida 2020
  </div>
</body>
