@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

body {
  font-family: "Jost", sans-serif;
  background-color: #ece5ce;
  position: relative;
  height: 600px;
}

.form-container {
  width: 774px;
  height: 400px;
  background-color: #f4f4e1;
  border: solid #ffff 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 581px;
  position: absolute;
  text-align: justify;
  margin-top: -75px;
}

.titulo {
  color: #42929d;
  font-size: 40px;
  margin-top: 10px;
  font-style: bold;
}

.form-container input[type="email"],
.form-container input[type="text"] {
  box-sizing: border-box;
  padding: 10px;
  background: #ffff;
  outline: none;
  transition: all 0, 30% ease-in-out;
  width: 97%;
  margin-bottom: 4%;
  margin-left: 10px;
  margin-right: 10px;
  border: solid #ffff 10px;
  font-size: 20px;
}

.check {
  font-size: 25px;
  color: #626262;
  margin-left: 15px;
}

.ofertasclass {
  margin-left: 10px;
}

.condicionesclass {
  margin-left: 10px;
}

.form-container .btn-sent {
  box-sizing: border-box;
  padding: 10px;
  width: 200px;
  background: #e08e79;
  border: none;
  color: #ffff;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 10px;
}

.contenedor2 {
  height: 150px;
  width: 1900px;
  background-color: #42929d;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: justify;
  margin-top: 530px;
}

.contenedor3 {
  height: 50px;
  width: 1900px;
  background-color: #176671;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: justify;
  margin-top: 680px;
  color: #ffff;
  font-size: 27px;
  align-items: center;
  line-height: 40px;
}

.tablainfo {
  margin-left: 0px;
  table-layout: auto;
  width: 100%;
  border-collapse: separate;
  border-spacing: 200px 10px;
}

.textotabla {
  color: #ffff;
  font-size: 25px;
  font-weight: lighter;
  line-height: 30px;
}
